<a href="{{ url('<front>')|render ~ "/" ~ content.field_alias[0]["#context"]["value"] }}" role="article" title="{{ 'Visiter la page de @term'|t({'@term': name.0["#context"]["value"]})}}" class="TermLogo">
	{{ content.field_logo }}
	<h2>{{ name }}</h2>
</a>
