$mobile-width: 719px;
$tablet-width: 1179px;
$site-content-max-width: 1280px;

//colors
$color-black: black;
$color-white: white;
//$color-black-mainBG: black;
//$color-red: #df0020;
//$color-gold: #caa469;
//$color-gold-light: #f3eeda;
//$color-red-font: #d6001a;

//fonts
$font-body: 'Roboto', sans-serif;
$font-title: 'Roboto', sans-serif;
$font-navigation: 'Oswald', sans-serif;